.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.App-logo {
  max-width: 90vw;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header, .App-body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body {
  min-height: 60vh;
}

.App-link {
  color: #61dafb;
}


.loader {
  margin: 10vh 0;
  width: 100%;
}
.cards-container {
  margin: 3vw 0;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 220px;
  padding: 10px;
  border: 1px solid;
  margin: 10px;
}

.card-name {
  font-weight: bold;
  font-size: 1.1rem;
  padding-bottom: 1vh;
}
.card-text, .other-fields {
  font-size: .8rem
}

.card img {
  width: 100%;
}

.footer {
  display: block;
  clear: both;
  margin: auto;
  padding: 6px;
  text-align: center;
  position: fixed;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  bottom: 0;
}

.search {
  padding: 3vw;
}
.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

.search-message {
  padding-top: 1vh;
  color: crimson;
}

@media (max-width: 514px) {
  .scroll-to-top {
    bottom: 60px;

  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
